DISCORD_TOKEN=MTUwOTIyMTUxNDY3Nzg0NjA3Ng.G8M5_B.h7IL6h0O0xLi1Id_Pg3v8-MOghZ4rl8EGAYEQs
MONGO_TOKEN=mongodb+srv://FusePvPbot:<FusePvP>@fusepvpdb1xb2nzky.ulefowf.mongodb.net/?appName=FusePvPDB1XB2NZKY
GIPHY_TOKEN=YZybELCpFdGU8dyjNAouaznF1c34pZJj
WEBHOOK_ID=1509458138858918009
WEBHOOK_TOKEN=af6y7Fr976Q_VVkh9nSIT5Gbc8UESyOGqqx9ij71AUW0bYVGSL_hav0f6kTbMlDPOIyq
DISCORD_ID=1509221514677846076
# Not neccessary variables
# Wondering how to get these? Check out https://github.com/CorwinDev/Discord-Bot#requirements
DISCORD_STATUS="Fuse PvP's Discord bot made by Rynoye"
RADIO=
SPOTIFY_CLIENT_ID=31c1e35584e34d13b47b81e539f2d78a
SPOTIFY_CLIENT_SECRET=d931a9a300a34f5ab3e8abc7acda099a
LAVALINK_HOST=lava.link
LAVALINK_PASSWORD=I'm a secret
LAVALINK_PORT=80
LAVALINK_SECURE=false
